body {
    background-color:
    #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    width: 800px;
    position: relative;
    left: -100px;
    letter-spacing: -1px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 100;
    margin: 0px 0 50px 0;
    text-shadow: 0 1px 0
    #fff;
}
p {
    color:
    rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    line-height: 1.6;
}
a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }
